@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-custom-size {
    @apply bg-cover;
    background-size: 100% 100%;
  }




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html, body {
    /* height: 100%;*/
    /* overflow-x: hidden;  */
    /* margin: 0; */ 
    
  }
  .wrapper{
    perspective: 10px;
    /* height: 100vh; */
    overflow-x: hidden;
    /* overflow-y: initial; */
    padding-top: 50px;
  }
  
  .container{
    margin: auto;
    position: relative;
    display: flex;
    transform-style: preserve-3d;
    z-index: -1;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .foreground{
    transform: translateZ(-60px) scale(2);
    
  }
  /* .firstbg{
    transform: translateZ(70px) scale(1);
  }
  .firstbg{
    transform: translateZ(-60px) scale(1); 
    height: 100%;
    width: 100%;
  } */
  #hover1:hover{
    color: blanchedalmond;
  }
  
  .background, .foreground{
    position: absolute;
    z-index: -1;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  h1{
    position: absolute;
    /* transform: translateZ(-50px) scale(2); */
    transform: translateX(-50%);
    top: 5rem;
    left: 50%;
    letter-spacing: 4px;
    font-size: 40px; 
/*       erlier font size was 10 rem */
    color: white;
    
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
  }
  section1{
    padding: 5rem 2rem;
    background-color: #FDF6F0;
  }
  
  .secondH {
    text-align: center;
    font-size: 25px;
/*       erlier font size was 4rem */
    /* margin-bottom: 1rem; */
    /* padding: 5rem; */
    color: rgb(0, 0, 0);
    

  }
  .firstbg{
    height: 100%;
    width: 100%;
    margin-left:11.5rem;
  }
  
  .text {
    font-size: 1.25rem;
    line-height: 1.6;
    /* min-width: 800px; */
    margin: 0 auto 2rem auto;
    color: rgb(0, 2, 3);
    padding: 0 10rem;

    margin-top: 20px;
  }
  .name{
    position: absolute;
    top: 50%;
  }

  .bg {
    position: relative;
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

  }
  
  .name {
    color: white;
    font-size: 2.5rem;
    text-shadow: 0 0 10px rgb(0, 0, 0);
  }
  
  section{
/*     padding-top: 5rem; */
    padding-top: 5rem;
  }
  .bg1{
    background-image: url(1st.jpeg);
  }
  .bg2{
    background-image: url(2nd.jpeg);
  }
  .bg3{
    background-image: url(image3.jpg);
  }
  .name{
    height: 30rem;
    
    opacity: .6;

  }
 



#hover1:hover {
    color: blanchedalmond;
}
/* footer css */
.bottom{
  padding-top: 2rem;
  background-color: #cdbba7;
  margin-top: 2rem;
}

.bottomcontent{
  
  max-width: 70%;
  margin: 0 auto;
  color: rgb(107 61 47 / 80%);
  font-weight: 520;
}

.bottom-upper{
  width: 100%;
}

.bottomcontent h2{
  padding-bottom: 1.5rem;
}

.bottomcontent p{
  padding-bottom: 1rem;
}

.bottom-lower{
  display: flex;
  width: 100%;
  padding-top: 3rem;
  
}

.inputbox{
  width: 100%;
  background-color: transparent;
  border: 1.7px solid rgb(107 61 47 / 80%);
}


.left-bottom{
  min-width: 50%;
}
.right-bottom{
  min-width: 50%;
}

#message{
  height: 10rem;
}

.label{
  
  line-height: 0.5rem;
}


